<div id="smart-layout" class="text-center">
  <%= image_tag "cafe.jpg", width: "100%" %>
  <p id="text">使い方</p>
  <p>会ってみたいツイッターのフォローしている人を選択すると、向こうも同じように会いたいと思っていたらマッチします。</p>

<%= render "users/shared/twitter" %>
</div>
