<div id="smart-layout" class="text-center">
  <div class="box">
    <h1 id="logo">Twioff</h1>
    <div>ついおふ！</div>
  </div>
  <p id="text">フォロワーと会っちゃおうぜ！</p>

<%= render "users/shared/twitter" %>
</div>
