<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to omniauth_authorize_path(resource_name, provider), method: :get do %><br />
      <div class="fl_tw2"><i class="fab fa-twitter"></i> <span>Twitterで登録 or ログイン! (1秒)</span></div>
    <% end %>
    <% end -%>
<% end -%>
