<div class="sox text-center">
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete if user_signed_in? %>
  <%= link_to "利用規約", static_pages_terms_of_use_path %>
  <%= link_to "プライバシーポリシー", static_pages_privacy_policy_path %>
  <a href="https://twitter.com/twioff_official">公式Twitter</a>
  <a href="https://twitter.com/twioff_official">お問い合わせ</a>
  <div>
    <p>Copyright &copy; 2018 Twioff_official. All Rights Reserved.</p>
  </div>
</div>