<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
   data-size="large" data-text="実は私フォロワーさんの中に会いたい人がいるんです…(>_<)♡
でも恥ずかしいから私からいえないの…｡ﾟ(｡ﾉω＼｡)ﾟ｡
その人もTwioff使ってくれないかなぁ…｡ﾟ(ﾟ∩´﹏`∩ﾟ)ﾟ｡"
   data-url="https://www.twioff.tokyo"
   data-via="twioff_official" data-hashtags="twioff "
   data-lang="ja"
   data-show-count="false">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>