@import "bootstrap";

a:link {color: #000000}
a:visited {color: #000000;}

header{
  text-decoration: none;
  text-align: center;
  background-color: white;
  border-bottom: solid 1.5px #a8eaf5;
  h1{
    padding-top: 8px;
    padding-bottom: 0px;
    font-family: Georgia, serif;
    font-size: 20px;
    span{
      font-size: 15px;
      font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    }
  }
}

.notice-box{
  padding: 0;
  margin: 5px;
  background: #e8ffec;
  border: solid 1.5px #c6f5c2;
  border-radius: 6px;
  .box-contents{
    padding: 5px;
    color: #00b911;
    p{
      font-size: 13px;
      margin: 0;
      padding: 0;
    }
  }
}
.alert-box{
  padding: 0;
  margin: 5px;
  background: #ffdde9;
  border: solid 1.5px #f5abb7;
  border-radius: 6px;
  .box-contents{
    padding: 5px;
    color: #ff6b72;
    p{
      font-size: 13px;
      margin: 0;
      padding: 0;
    }
  }
}


body{
  background-color: rgba(245, 245, 245, 0.99);
}

.container{
  max-width: 600px;
  padding: 0px 0px 50px;
}

footer{
  border-top: solid 1.5px #a8eaf5;
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  position: fixed;

  .footer-contents{
    margin: 2px 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    max-width: 700px;
    #footer-content{
      font-size: 25px;
    }
  }
}

.sox{
  font-size: 13px;
}

.box{
  padding: 0;
  margin: 5px;
  background: white;
  border: solid 1.5px #a8eaf5;
  border-radius: 6px;
  .box-contents{
    padding: 10px;
    li{
      text-align: left;
      font-size: 15px;
    }
    .friend-box{
      width: 700px;
    }
    h5{
      font-size: 25px;
      margin: 10px;
    }
    p{
      margin: 10px;
    }
  }
}

// 登録ボタン
.square_btn {
  white-space: nowrap;
  margin-top: 4px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  background-color: #FFFFFF;
}
// 登録済ボタン
.square_disable_btn {
  white-space: nowrap;
  margin-top: 4px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: rgba(103, 197, 255, 0.5);
  border: solid 2px rgba(103, 197, 255, 0.51);
  border-radius: 3px;
  transition: .4s;
  background-color: #f0f0f0;
}

// サムネ画像
.img-responsive-overwrite{
  margin: 0 auto; //サムネを中央寄せ
  border-radius:400px; // サムネを丸く
}


//　Twitterで登録ボタン
.fl_tw2{/*ボタンの背景*/
  color: #FFF;/*文字・アイコン色*/
  border-radius: 4px;/*角丸に*/
  display: inline-block;
  height: 40px;/*高さ*/
  width: 230px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 15px;/*文字のサイズ*/
  line-height: 40px;/*高さと合わせる*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #1da1f3;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.fl_tw2 .fa-twitter {
  text-shadow: 1px 1px 0px #4287d6;
  font-size: 15px;
}

.fl_tw2 span {/*テキスト*/
  display:inline-block;
  transition: .5s
}