<footer>
  <div class="footer-contents">
    <%= link_to root_path, id: "footer-content" do %>
      <i class="fa fa-home" style="color: rgb(173,205,255);"></i>
    <% end %>
    <%= link_to relationships_path, id: "footer-content" do %>
      <i class="fa fa-heart" style="color: rgba(255,221,250,0.98);"></i>
    <% end %>
    <%= link_to new_relationship_path, id: "footer-content" do %>
      <i class="fas fa-user-plus" style="color: rgba(179,212,255,0.98);"></i>
    <% end %>
  </div>
</footer>